{extends '../layouts/basic.html'}

{block content}

<div class="container mt-5 mb-5">
	<div class="row justify-content-md-center">
		<div class="col-md-4 col-md-offset-4">
            <h1>Set Ulang Kata Sandi</h1>
            {form_open($action_url, 'class="margin-lg-top"')|noescape}
				{flashdata('message')|noescape}
				
                <input type="hidden" name="token" value="{$token}">

				<div class="form-group">
					<label>Kata Sandi Baru</label>
					<input type="password" name="new_password" class="form-control">
                    <small class="form-text text-muted">Set ulang kata sandi baru</small>
				</div>
				
				<div class="form-group">
					<label>Ketik Ulang</label>
					<input type="password" name="confirm_new_password" class="form-control">
                    <small class="form-text text-muted">Ketik ulang kata sandi barumu untuk mengkonfirmasi</small>
				</div>

				<input type="submit" class="btn btn-primary btn-md" value="Update" />
			</form>
		</div>
	</div>
</div>

{/block}