env.json
../uploads
public/uploads/
public/uploads/*
uploads/
uploads/*
resources/uploads
resources/course
resources/courses/*
resources/csv/*
!resources/csv/.gitkeep
resources/sessions/*
!resources/sessions/index.html
resources/navigations/*
error.log
resources/cache/latte/*
!resources/cache/latte/.gitkeep
resources/cache/rajaongkir/provinces.json
resources/cache/rajaongkir/cities/*
!resources/cache/rajaongkir/cities/.gitkeep
resources/cache/rajaongkir/costs/*
!resources/cache/rajaongkir/costs/.gitkeep
assets/config.js